{% extends 'base.html.twig' %}

{% block title %}Document detail{% endblock %}

{% block body %}
    <div class="container">
        <h1>Details "{{ document.name }}.{{ document.fileExtension }}" (ID: {{ document.id }})</h1>
        <h2>Document versions</h2>

        <a class="btn btn-primary"
           href="{{ path('app_documents_new_document_version', {id: document.id}) }}"
           role="button"
           style="margin-bottom: 2rem; margin-top: 1rem"
        >
            Upload new version
        </a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Version</th>
                    <th scope="col">Size</th>
                    <th scope="col">Serverpath</th>
                    <th scope="col">Created at</th>
                </tr>
            </thead>
            <tbody>
                {% for file in document.getOrderedFileVersions %}
                    <tr>
                        <td>{{ file.id }}</td>
                        <td>
                            <a title="download"
                               href="{{ path('app_documents_download_document_file', {id:document.id, versionNr:file.versionNr }) }}"
                               target="_blank"
                            >
                                {{ file.versionNr }}
                            </a>
                        </td>
                        <td>{{ file.size }}</td>
                        <td>{{ file.fullpath }}</td>
                        <td>{{ file.createdAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-link"
           href="{{ path('app_documents_list_documents') }}"
           role="button"
           style="float: right; margin-bottom: 2rem"
        >
            Back to document list
        </a>
    </div>
{% endblock %}
